.container {
  width: 100%;
  color: var(--text-primary);
  background: var(--background-primary);

  &__title {
    text-align: center;
    font-size: $font-size-lg;
    font-weight: $font-weight-extra-bold;
    line-height: $line-height-sm;
    letter-spacing: 0.96px;
    padding-block: 2rem;
  }
}

.wrapper {
  width: 80%;
  margin-inline: auto;
  color: var(--text-primary);
  background: var(--background-primary);
}

.border {
  outline: 1px solid red;
}
