@import "utility";
@import "variables";

body {
  font-family: $font-family-montserrat;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;

  &__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    &-wrapper {
      width: 40px;
      aspect-ratio: 1;
    }

    &-text {
      display: none;

      @media screen and (min-width: $screen-mobile) {
        font-size: $font-size-lg;
        font-weight: $font-weight-semi-bold;
        display: block;
        text-transform: uppercase;
      }
    }

    font-size: 2rem;
  }

  &__nav {
    &--desktop {
      display: none;
    }

    &-list--mobile {
      position: absolute;
      display: none;
    }

    &-toggle {
      padding: 0.5rem 1rem;
      border-radius: 100vh;
      background-color: $primary-light;
      border: none;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }

    &--mobile {
      position: relative;
    }

    @media screen and (min-width: $screen-mobile) {
      &--mobile {
        display: none;
      }

      &--desktop {
        display: flex;
      }

      &-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        gap: 3.5rem;
      }
    }
  }

  &__theme-toggle-button {
    background: transparent;
    border: none;
    font-size: $font-size-lg;
    cursor: pointer;
  }
}

.hero {
  padding-block-start: 6rem;
  padding-block-end: 1rem;
  text-align: center;

  &__header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    line-height: $line-height-md;
  }

  &__job-title {
    font-weight: $font-weight-extra-bold;
    font-size: $font-size-lg;
    line-height: $line-height-md;
    letter-spacing: 0.96px;

    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-3xl;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  &__highlight {
    color: #6572f9;
    text-decoration: underline;
  }

  &__image {
    width: 82px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
  }

  &__name {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-lg;
    }
  }

  &__description {
    line-height: $line-height-lg;
    font-size: $font-size-xs;
    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-md;
    }
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      border-radius: 100vh;
      padding: 0.5rem 1rem;
      background-color: $primary;
      border: none;
      color: $white;
      text-transform: uppercase;
      font-family: $font-family-roboto;
      letter-spacing: 0.77px;

      &--naked {
        background: transparent;
        color: $black;
        letter-spacing: 0px;
        font-size: $font-size-xs;
        text-transform: capitalize;
      }
    }
  }

  &__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  @media screen and (min-width: $screen-mobile) {
    &__cta {
      flex-direction: row;

      &-button {
        padding: 0.5rem 2.5rem;
      }
    }
  }
}

.pill {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: $primary-light;
  border-radius: 100vh;
  padding: 0.5rem 1.5rem;
  max-width: 160px;
  font-weight: $font-weight-medium;

  &__image {
    max-width: 12px;
    aspect-ratio: 1;
  }

  &__text {
    font-size: $font-size-xs;
  }
}

.project {
  padding-block: 2rem;
  @media screen and (min-width: $screen-mobile) {
    overflow: hidden;
    background-color: #f4f6fb;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    gap: 2.5rem;
    background-color: #fff;
    @media screen and (min-width: $screen-mobile) {
      flex-direction: row-reverse;
      width: 80%;
      margin-inline: auto;
      align-items: stretch;
      padding-inline-start: 2rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }
  }

  &__pill {
    position: absolute;
    top: 10px;
    left: 10px;

    @media screen and (min-width: $screen-mobile) {
      position: static;
    }
  }

  &__banner-image {
    object-fit: cover;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  &__name {
    font-weight: $font-weight-bold;
    font-size: $font-size-md;
    letter-spacing: 0.12px;
    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-xl;
    }
  }

  &__logo {
    max-width: 3rem;
    aspect-ratio: 1;
  }

  &__description {
    font-size: $font-size-xs;
    line-height: $line-height-lg;
    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-md;
    }
  }

  &__tools {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (min-width: $screen-mobile) {
      justify-content: flex-start;
      gap: 2rem;
    }
  }

  &__tool {
    max-height: 24px;
    aspect-ratio: 1;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 100vh;
    padding: 0.5rem 1.5rem;
    background-color: $primary;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-family: $font-family-roboto;
    letter-spacing: 0.77px;

    @media screen and (min-width: $screen-mobile) {
      max-width: 160px;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    gap: 2rem;

    @media screen and (min-width: $screen-mobile) {
      flex: 1 0 40%;
      padding-block: 4rem;
    }
    @media screen and (min-width: $screen-desktop) {
      flex: 1 0 60%;
      padding-block: 4rem;
    }
  }
}

.toolkit {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media screen and (min-width: $screen-mobile) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap: 1rem;
    margin-block: 2rem;

    @media screen and (min-width: $screen-mobile) {
      flex: 1 0 calc(33.33% - 2rem);

      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      width: 100%;
      height: 1px;
      background: #dedede;
    }

    &:last-child {
      position: relative;
      &::before {
        content: "";
        height: 100%;
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
          to bottom,
          hsla(0, 0%, 100%, 0),
          hsla(0, 0%, 100%, 1)
        );
        @media screen and (min-width: $screen-mobile) {
          display: none;
        }
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__name {
    font-size: $font-size-md;
    font-weight: $font-weight-bold;
    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-lg;
    }
  }

  &__description {
    line-height: $line-height-lg;
    font-size: $font-size-xs;
    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-sm;
    }
  }

  &__image {
    max-width: 60px;
    aspect-ratio: 1;
    padding: 1rem;
    border-radius: 50%;
    background: $white;
    box-shadow: 5px 4px 31px 0px rgba(0, 0, 0, 0.07);

    &--relative {
      position: relative;
    }
  }

  &__logo-absolute {
    position: absolute;
    width: 100%;
    aspect-ratio: 1;
    top: 10%;
    left: -55%;
    background: $white;
    padding: 1rem;
    border-radius: 50%;
  }

  &__load-more-button {
    width: 100%;
    border-radius: 100vh;
    margin-top: 2rem;
    background: #f2f2f7;
    text-align: center;
    padding: 0.85rem 1rem;
    border: none;
    font-family: $font-family-roboto;
    font-weight: $font-weight-medium;
  }
}

.footer {
  margin-top: 2rem;
  background-color: #f4f6fb;
  padding-block: 2rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media screen and (min-width: $screen-mobile) {
      position: relative;
    }
  }

  &__head {
    font-weight: $font-weight-bold;
    line-height: $line-height-sm;
    @media screen and (min-width: $screen-mobile) {
      font-size: $font-size-2xl;
    }
  }

  &__contact {
    line-height: $line-height-lg;
    @media screen and (min-width: $screen-mobile) {
      font-size: 18px;
    }
  }

  &__button {
    max-width: 160px;
    border-radius: 100vh;
    padding: 1rem 2rem;
    background-color: $primary;
    border: none;
    color: $white;
    text-transform: uppercase;
    font-family: $font-family-roboto;
    letter-spacing: 0.77px;
    cursor: pointer;

    @media screen and (min-width: $screen-mobile) {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &__links-wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
