@media screen and (min-width: $screen-desktop) {
  .project {
    &__wrapper {
      flex-direction: row-reverse;
      padding-inline-start: 2rem;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }

    &__image-wrapper {
      max-height: initial;
      overflow: initial;
    }

    &__button {
      align-self: initial;
    }

    &__body {
      flex: 1 0 50%;
      padding-block: 4rem;
      align-items: flex-start;
      justify-content: center;
    }
  }

  .toolkit {
    &__item {
      flex: 1 0 calc(33.33% - 2rem);
    }
  }

  .footer {
    &__button {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
}
