@media screen and (min-width: $screen-mobile) {
  .header {
    &__logo-text {
      font-size: $font-size-lg;
      font-weight: $font-weight-semi-bold;
      display: block;
      text-transform: uppercase;
    }

    &__nav-toggle {
      display: none;
    }

    &__nav {
      &-list {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style-type: none;
        gap: 3.5rem;
        position: static;
        transform: initial;
        background: transparent;
        clip-path: initial;
      }
    }
  }

  .hero {
    &__job-title {
      font-size: $font-size-3xl;
    }

    &__name {
      font-size: $font-size-lg;
    }

    &__description {
      font-size: $font-size-md;
    }

    &__cta {
      flex-direction: row;

      &-button {
        padding: 0.5rem 2.5rem;
      }
    }
  }

  .project {
    overflow: hidden;

    &__wrapper {
      width: 80%;
      margin-inline: auto;
      align-items: stretch;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }

    &__image-wrapper {
      max-height: 400px;
      overflow: hidden;
    }

    &__pill {
      position: static;
    }

    &__name {
      font-size: $font-size-xl;
    }

    &__description {
      font-size: $font-size-md;
    }

    &__tools {
      justify-content: flex-start;
      gap: 2rem;
    }

    &__button {
      align-self: stretch;
    }

    &__body {
      flex: 1 0 40%;
      padding-block: 4rem;
    }
  }

  .toolkit {
    &__wrapper {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }
    &__item {
      flex: 1 0 calc(50% - 2rem);

      &::after {
        display: none;
      }

      &:last-child {
        &::before {
          display: none;
        }
      }
    }

    &__name {
      font-size: $font-size-lg;
    }

    &__description {
      font-size: $font-size-sm;
    }

    &__button {
      align-self: stretch;
    }
  }

  .footer {
    &__wrapper {
      position: relative;
      align-items: flex-start;
    }

    &__head {
      font-size: $font-size-2xl;
    }

    &__contact {
      font-size: 18px;
    }
  }
}
