@mixin dark-colors {
  --text-primary: #fff;
  --background-primary: #060519;
  --background-secondary: #272733;

  --tools-gradient: linear-gradient(
    to bottom,
    rgba(5, 5, 33, 0),
    rgba(5, 5, 29, 0.546875),
    #050519
  );
}
