@mixin light-colors {
  --text-primary: #000;
  --background-primary: #fff;
  --background-secondary: #f4f6fb;

  --color-accent: #433be3;
  --tools-gradient: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff);
}
