.hero {
  padding-block-start: 6rem;
  padding-block-end: 1rem;
  text-align: center;
  color: var(--text-primary);
  background: var(--background-primary);

  &__header {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    line-height: $line-height-md;
  }

  &__job-title {
    font-weight: $font-weight-extra-bold;
    font-size: $font-size-lg;
    line-height: $line-height-md;
    letter-spacing: 0.96px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
  }
  &__highlight {
    color: var(--color-accent);
    text-decoration: underline;
  }

  &__image {
    width: 82px;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: 50%;
  }

  &__name {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
  }

  &__description {
    line-height: $line-height-lg;
    font-size: $font-size-xs;
  }

  &__cta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }
}

// Tablet Layout
@media screen and (min-width: $screen-mobile) {
  .hero {
    padding-block-end: 5rem;
    &__job-title {
      font-size: $font-size-3xl;
    }

    &__name {
      font-size: $font-size-lg;
    }

    &__description {
      font-size: $font-size-md;
    }

    &__cta {
      flex-direction: row;

      &-button {
        padding: 0.5rem 2.5rem;
      }
    }
  }
}
